#flex{
    display:flex; 
    justify-content: space-around;   
    width:100%;
    border: 1px solid whitesmoke;
    height: 35px;

}
del{
opacity: 0.7;
}
#first{
    display:flex;
    gap:15px;
    margin-top: 13px;
    font-size: 10px;
    font-family:sans-serif
    
}
#second{
    display:flex;
    gap:15px;
    margin-top:-9px;
    font-size:11px;
    font-family:sans-serif
}
#third{
    display:flex;
    gap:10px;
     margin-top: 13px;
    font-size: 10px;
    font-family:sans-serif
}
#wow{
display:flex; 
    justify-content: space-around;    
    margin-top:20px
}
#pan1{
display:flex;
gap:20px;
font-family:sans-serif; margin-top:20px;
font-size: 12px;
   
}
#pan3{
display:flex; 
gap:50px;     
}

#musk{
display: flex;
margin-top: 15px;
font-size: 12px;
margin-left: 200px;
gap: 18px;
color:white
}
#flex3{
background-color: black;
padding-top: 0.2px;
padding-bottom: 5px;
}
#hehe{
position:relative;

}
.hehe2{
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
background-color:white;
width:30%;
position:absolute;
top:115%;
left:25px;
padding-bottom: 1.5%;
}
.hehe2>h2{
text-align: center;
}
.hehe4{
margin-left: 15%;
gap:10px;
}

#haha{
display:flex;
margin: auto;
margin-top:10%;
width:85%;
gap:10px;


}
#haha>div{
width:33%;
text-align: center;


}
#haha img{
width:100%
}
#haha4{
display:flex;
gap:20px;
margin-left:50px;

}
#haha5{
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


}
#haha6{
font-size: 30px;
text-align: center;
padding-top:8%

}
.van{
display:flex;
margin-left:14%;
width:80%;
gap:20px;
margin-top:40px
}
.van>div{
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
text-align: center;
}
#van1{
display:flex;
width:100%;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
gap:20px;
margin-top: 50px;
padding-top: 100px;
padding-bottom: 50px;
}
#van1>div{
text-align: center;
}
#van1 img{
width:100%
}
.name1{
display:flex; 
margin-top: 50px;
width:80%;
position:absolute;
margin-left:13%;

}
#name3{
position: relative;
right:85px;
top:70px;
background-color: white;
text-align: center;
}
.append{
position: relative;
left:185px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
background-color: white;
width: 402px;
text-align: center;
height: 140px;
top:510px;

}
.append>p{
opacity: 0.7;
}
#append2{
margin-top:600px;
text-align: center;
}
#append2 :nth-child(1){
font-size: 28px;
}
#space{
width:100%;
margin-top: 70px;
position:absolute;
}
#space>img{
width:100%
}
#xox{
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
width:390px;
height: 135px;
text-align: center;
position: relative;
padding-top: 5px;
background-color: white;
top:635px;
left:10px;

}
#xoxo{
margin-left: 135px;
margin-top: 700px;
display:flex;
width:80%;
gap:30px;
text-align: center;

}
#xoxo>div{
width:33%;

}